<p>Dear Future Delegate,<br><br><br>


We would like to express our utmost gratitude for your keen interest in Jogjakarta International Model United Nations (JOINMUN) 2019 by registering as a delegate. Through this e-mail, we would like to inform you that we have already received your application.<br><br><br>


Kindly check the file attached for details of payment. You are expected to fulfill the payment within three working days after receiving this e-mail notification and send your proof of payment (receipt) by uploading it into the form mentioned in the document attached (for easy access: kindly direct to <a href="ugm.id/confirmationform" target="_blank">this</a>).<br><br><br><br>



Please note that registration fees are non-refundable. If you exceed the three-days time limit and have not yet completed the payment, you will have to fill out the registration form all over again. The quota is limited, so make sure to secure your spot right away!<br><br><br>



Best regards,<br>
<i><strong>The Secretariat of Jogja International Model United Nations 2019</strong><br>
Website: <a href="http://www.jogjainternationalmun.com/" target="_blank">jogjainternationalmun.com</a><br>
Facebook: <a href="https://web.facebook.com/JOINMUN?_rdc=1&_rdr" target="_blank">www.facebook.com/JOINMUN</a><br>
Twitter: <a href="https://twitter.com/joinmun" target="_blank">@joinmun</a><br>
Instagram: <a href="https://www.instagram.com/joinmun.2019/" target="_blank">@joinmun.2019</a><br>
LINE@: @dhr6155o</i><br><br>

--<br><br>

<strong>JOINMUN 2019,</strong><br>
<strong>"The Endeavor to Traverse Dynamic Regimes: Ending Tyranny, Ushering Liberty"</strong></p>
